@media only screen and (max-width:1020px) {
    .hi {
        left: 1.8rem;
        font-size: 2.5em;
    }

    .burger {
        display: block;
        z-index: 5;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .sidebar {
        left: -100%;
        z-index: 3;
    }

    #press {
        left: 2rem;
    }

    .sidebar.active {
        left: 0;
    }

    #abouth {
        left: 1rem;
    }

    #aboutin {
        left: 2rem;
        grid-template-columns: auto;
        gap: 3rem;
        padding-top: 1rem;
    }

    #text p {
        font-size: 2.3ch;
    }

}