@media only screen and (max-width:1020px) {
    .hi {
        left: 1.8rem;
        font-size: 2.5em;
    }

    .burger {
        display: block;
        z-index: 5;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .sidebar {
        left: -100%;
        z-index: 3;
    }

    #press {
        left: 2rem;
    }
    h3{
        left: 0;
    }

    .sidebar.active {
        left: 0;
    }

    #about{
        height: 100vh;
    }

    #abouth {
        left: 1rem;
    }

    #aboutin {
        left: 2rem;
        grid-template-columns: auto;
        gap: 3rem;
        padding-top: 1rem;
    }

    #text p {
        font-size: 2.3ch;
    }
    
    #projects{
        height: 130vh;
    }
    #projh{
        font-size: 7ch;
    }
    #pp{
        left: 1rem;
        grid-template-rows: 5rem 6rem 38rem;
    }
    #pw {
        font-size: 2.3ch;
    }
    #proin{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cc{
        left: 2.2rem;
        grid-template-rows: 8rem 4rem 20rem;
        width: 80%;
    }
    #contacth{
        font-size: 7ch;
    }
    #cp{
        font-size: 2.5ch;
    }
    .formtext{
        font-size: 2ch;
    }
    form{
        grid-template-areas:
        'name name'
        'email email'
        'subject subject'
        'message message'
        'x submit';
    }
    #blob{
        height: 100px;
        width: 100px;
        filter: blur(50px);
    }

}

@media only screen and (min-height:900px){
    #home{
        height: 75vh;
    }
    #about {
        height: 70vh;
    }
    #pp{
        grid-template-rows: 5rem 6rem 55rem;
    }
    #contact {
        height: 70vh;
    }

}