*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bgcol: rgba(6, 28, 34, 255);
    --bordergr: radial-gradient(circle at top left, aqua, lime);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar {
    height: 100vh;
    width: min(10rem, 12rem);
    background-color: rgb(21, 45, 48);
    background-image: linear-gradient(rgb(21, 45, 48), rgb(53, 99, 105));
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    border-inline-end: 3px solid;
    border-image-source: linear-gradient(rgb(8, 21, 39), rgb(34, 156, 212), rgb(8, 21, 39));
    border-image-slice: 5;
}

.info {
    height: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.logo {
    max-width: 7em;
    height: 7em;
    border-radius: 55px;
}

.navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, rgb(8, 21, 39), rgb(20, 78, 105), rgb(8, 21, 39));
    border-image-slice: 1;
    padding: 1em 0;
}

.navlist li {
    list-style: none;
    min-height: 2em;
    display: flex;


}

.navlist li a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    left: 1em;
    gap: .7em;
}

.navlist li a:hover {
    color: aqua;
}

.acc {
    display: flex;
    justify-content: space-evenly;
}

.background {
    background: rgba(24, 23, 23, 0.7) url('../img/bg.png');
    background-size: cover;
    background-blend-mode: color;

}

#home {
    height: 100vh;
}

.hi {
    position: absolute;
    display: inline;
    left: 12rem;
    top: 2em;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 5em;
}

.text {
    color: white;
}

.text:hover {
    color: aqua;
}

#press {
    display: inline;
    position: relative;
    left: 25rem;
    top: 27em;
    font-size: 1.3em;
    border: 1px solid;
    padding: 5px;
    border-image-source: radial-gradient(circle at top left, aqua, lime);
    border-image-slice: 10;
    cursor: pointer;
    z-index: 6;
}

h3 {
    display: inline-block;
    position: relative;
    left: 15rem;
    top: 42em;
    font-size: 1.8ch;
    color: white;
    opacity: 0;
}

.see {
    opacity: 1;
}

.hi p {
    position: relative;
}

.hii {
    position: relative;
    width: max-content;
}

.hiii {
    position: relative;
    width: max-content;
}

.hiiii {
    position: relative;
    width: max-content;
}

.hii::before {
    content: "";
    position: absolute;
    inset: 0;
}

.hii::before {
    background-color: var(--bgcol);
    z-index: 2;
    animation: type 500ms steps(3) 500ms forwards;

}

.hiii::before {
    content: "";
    position: absolute;
    inset: 0;
}

.hiii::before {
    background-color: var(--bgcol);
    z-index: 2;
    animation: type 1s steps(13) 1s forwards;

}

.hiiii::before {
    content: "";
    position: absolute;
    inset: 0;
}

.hiiii::before {
    background-color: var(--bgcol);
    z-index: 2;
    animation: type 1s steps(13) 2s forwards;

}

@keyframes type {
    to {
        left: 100%;
    }
}

.burger {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
}

.line {
    display: block;
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

#about {
    height: 85vh;
    background-color: var(--bgcol);
}

#abouth {
    font-family: 'Cousine', monospace;
    display: inline;
    position: relative;
    font-size: 8ch;
    color: aqua;
    height: 3em;
    left: 12rem;
}


#aboutin {
    position: absolute;
    left: 12rem;
    display: grid;
    gap: 7rem;
    grid-template-columns: 4fr 1fr;
    margin-right: 2rem;
    padding-top: 3rem;
}

#text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center {
    display: grid;
    place-items: center;
    transition-delay: 400ms !important;
}

#aboutin img {
    max-height: 15rem;
    border: 1px solid;
    border-image-source: linear-gradient(135deg, aqua, lime);
    border-image-slice: 1;
}

#text p {
    color: white;
    font-size: 3ch;
}

#text p a {
    color: aqua;
}

/* slide in animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 700mss;
}

#c1 {
    transition-delay: 100ms;
}

#c2 {
    transition-delay: 300ms;
}

#c3 {
    transition-delay: 500ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.icon {
    filter: invert(1);
}

#projects {
    height: 100vh;
    background-color: var(--bgcol);
}

#pp {
    position: absolute;
    left: 10.5rem;
    display: grid;
    grid-template-rows: 6rem 7rem 20rem;

}

#projh {
    font-family: 'Cousine', monospace;
    font-size: 8ch;
    color: aqua;
}

#pw {
    color: white;
    font-size: 3ch;
}

#proin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
}

.card {
    background-image: url(../img/APS.png);
    background-size: cover;
    /* background-size: 20rem 20rem; */
    border-inline-start: 4px solid;
    border-image-source: linear-gradient(aqua, lime);
    border-image-slice: 10;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    line-height: 1.5;
    transition: transform 500ms ease;
}
#c1{
    background-image: url(../img/APS-1.png);
}
.card-cont {
    font-family: sans-serif;
    color: white;
    --padding: .7rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .7));
    max-width: 34ch;

}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(var(--padding)*-1);
    width: calc(100% + var(--padding));
    height: 3px;
    background: linear-gradient(90deg, aqua, lime);
}

.card-text {
    font-size: 2.5ch;
    padding-bottom: 5px;
}

#ct-1 {
    font-size: 3ch;
}

.button {
    background-color: rgb(52, 187, 52);
    padding: 7px;
    border-radius: 5px;
}


@media (hover) {

    .card:hover {
        transform: scale(1.05);
    }

    .button:hover {
        background-color: rgb(43, 156, 43);
    }

    .card-title::after {
        transform: scale(0);
        transition: transform 500ms ease;
        transform-origin: left;

    }

    .card:hover .card-title::after {
        transform: scale(1);
    }

    .card-cont {
        transform: translateY(69%);
        transition: transform 500ms ease;
    }

    .card:hover .card-cont {
        transform: translateY(0);
    }

    .card-cont>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-cont>* {
        opacity: 1;
    }

}

#contact {
    height: 92vh;
    background-color: var(--bgcol);
}

.cc {
    position: absolute;
    left: 11rem;
    display: grid;
    grid-template-rows: 6rem 6rem 25rem;
    width: 55%;
}

#contacth {
    font-family: 'Cousine', monospace;
    font-size: 8ch;
    color: aqua;
}

#cp {
    color: white;
    font-size: 3ch;
}

.formtext {
    background-color: rgb(45, 46, 58);
    color: white;
    font-size: 2ch;
    border: 0;
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#subject {
    grid-area: subject;
}

#message {
    grid-area: message;
    font-size: 3ch;
}

#submit {
    grid-area: submit;
    width: 100%;
    color: white;
    background-color: rgb(45, 46, 58);
    border: 2px solid;
    border-image-source: radial-gradient(circle at top left, aqua, lime);
    border-image-slice: 10;
    font-size: 2.5ch;
    transition: transform 300ms ease;
}

#submit:hover {
    border-image-source: radial-gradient(circle at top left, lime, aqua);
    transform: scale(1.05);
}

form {
    display: grid;
    grid-template-areas:
        'name email'
        'subject subject'
        'message message'
        'x submit';
    gap: 1rem;
    width: 100%;
}


footer {
    background-color: rgb(4, 18, 22);
    display: grid;
    place-items: center;
    border-block-start: 2px solid;
    border-image-source: linear-gradient(90deg, rgb(8, 21, 39), rgb(34, 156, 212), rgb(8, 21, 39));
    border-image-slice: 1;
}

footer h2 {
    color: white;
}

footer div {
    display: flex;
    gap: 3rem;

}

.boom {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 200px;
    height: 200px;
    background-size: cover;
    animation: crash 6s linear;
}

@keyframes crash {
    0% {
        translate: -100vw;
        background-image: url(https://64.media.tumblr.com/9df5b9ec8238179fa71dfa9685782b0f/tumblr_n5y61fuv9O1tx9mwqo1_1280.gif);
    }

    49% {
        background-image: url(https://64.media.tumblr.com/9df5b9ec8238179fa71dfa9685782b0f/tumblr_n5y61fuv9O1tx9mwqo1_1280.gif);
    }

    50% {
        translate: 0;
        background-image: url(https://vignette.wikia.nocookie.net/robloxpokemonbrickbronze/images/1/17/Explosion.gif/revision/latest?cb=20180130164931);
    }

    60% {
        background-image: url(https://vignette.wikia.nocookie.net/robloxpokemonbrickbronze/images/1/17/Explosion.gif/revision/latest?cb=20180130164931);

    }
}

.blady {
    animation: break 6s ease-in-out forwards;
}

@keyframes break {
    50% {
        rotate: 0;
    }

    52% {
        rotate: 1deg;
    }

    54% {
        rotate: -1deg;

    }

    56% {
        rotate: 2deg;

    }

    58% {
        rotate: -2deg;
    }

    60% {
        rotate: 6deg;
    }

    100% {
        rotate: 6deg;
    }
}

#blob {
    background-color: white;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    filter: blur(70px);
}


@keyframes rotate{
    from{
        rotate: 0;
    }
    50%{
        scale: 1 1.5;
    }
    to{
        rotate: 360deg;
    }
}
