@media only screen and (max-width:785px) {
    .hi {
        left: 2rem;
        font-size: 2.7em;
    }
    .burger {
        display: block;
        z-index: 5;
    }
    .burger.active .line:nth-child(2){
        opacity: 0;
    }
    .burger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .sidebar{
        left: -100%;
        z-index: 3;
    }
    #press{
        left: 2rem;
    }
    .sidebar.active{
        left: 0;
    }

}